<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	  autoReload="true"
	  throwConfigExceptions="true"
	  internalLogLevel="Info"
	  internalLogFile="c:\temp\Sample-internal-nlog.txt"
	  >

	<!-- 在這裡宣告要用到的 Target 項目 -->
	<targets>
		<!-- 宣告 File 目標，將會把 Log 內容寫入到檔案內 -->
		<!--更多 Layout Renderer 變數，可以參考 https://nlog-project.org/config/?tab=layout-renderers-->
		<!--https://github.com/NLog/NLog/wiki/Layouts-->

		<!--指定此目標的類型為 File / 指定此目標的名稱為 allfile-->
		<!--fileName 指定此目標的輸出檔案路徑和檔名-->
		<!--archiveAboveSize 指定當此目標的輸出檔案大小超過時，將自動建立新的歷史檔案-->
		<!--archiveNumbering 指定歷史檔案的名稱以何種方式編號 (Date：以日期為字首。DateAndSequence：以日期和序號為字首。Sequence：以序號為字首。None：不編號)-->
		<!--archiveFileName 指定歷史檔案的檔名格式-->
		<!--archiveDateFormat 指定歷史檔案的日期格式-->
		<!--maxArchiveFiles 指定歷史檔案的最大數量-->
		<!--archiveEvery 指定每天自動建立新的歷史檔案-->
		<!--encoding 指定此目標的輸出編碼為 UTF-8-->
		<target xsi:type="File" name="allfile"
				fileName="c:\temp\AllLog.log"
				layout="${longdate}|${uppercase:${level}}|${logger}|[${threadname:whenEmpty=${threadid}}]|${message} ${exception:format=type,message,method:maxInnerExceptionLevel=5:innerFormat=shortType,message,method}"
				maxArchiveFiles="7"
				archiveDateFormat="yyyy-MM-dd"
				archiveNumbering="Date"
				archiveFileName="${var:LogRootPath}/${var:AllLogMessagesFilename}-{##}.log"
				encoding="utf-8"
				archiveAboveSize="2048"
				archiveEvery="Day"
				/>

		<!--宣告 Console 目標，將會把 Log 內容寫入到 命令提示字元視窗內 -->
		<target xsi:type="Console" name="lifetimeConsole"
				layout="${level:truncate=4:lowercase=true}: ${logger} [${threadname:whenEmpty=${threadid}}]${newline}      ${message}${exception:format=tostring}"
		        />
	</targets>

	<rules>

		<!--紀錄剩下其他的日誌項目 (視為黑洞)-->
		<logger name="*" minlevel="Warn"
				writeTo="lifetimeConsole,allfile" />
	</rules>
</nlog>